{
   "root": true,
   "extends": [
      "react-app",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:prettier/recommended"
   ],
   "parserOptions": {
      "ecmaVersion": 2021,
      "sourceType": "module",
      "ecmaFeatures": { "impliedStrict": true, "jsx": true }
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "env": {
      "es2021": true,
      "browser": true,
      "node": true
   },
   "ignorePatterns": ["node_modules", "ref", "ref2"],
   "rules": {
      "react/prop-types": 0,
      "prettier/prettier": "error"
   }
}
